<!-- <h1>
{{title}}
</h1>
<h2>
  <app-newcomponent></app-newcomponent>
</h2>
<input type="text" [(ngModel)]="ename" />
{{ename}}

<input type="button" (click)="btnClick()" value="Submit" /> -->

<!-- <div class="container"> -->

<!-- Parent Component: <input type="text" [(ngModel)]="valueToChild" /> -->

<!-- <div *ngFor="let each of people">
  <li [ngClass]="{
    'text-success':each.country === 'UK',
    'text-primary':each.country === 'USA',
    'text-danger':each.country === 'HK'
  }">{{each.name}}, {{each.country}}</li>
</div> -->

<!-- <div *ngIf="!displayADom else temp">
  I am visible
</div>
<ng-template #temp>
  <div>
    When true, i will be visible
  </div>
</ng-template> -->

<!-- 


<select [(ngModel)]="selectedValue">  
  <option *ngFor="let item of items;" [value]="item.name">{{item.name}}</option>  
</select>  
<div class='row' [ngSwitch]="selectedValue">  
  <div *ngSwitchCase="'One'">One is Pressed</div>  
  <div *ngSwitchCase="'Two'">Two is Selected</div>  
  <div *ngSwitchDefault>Default Option</div>  
</div> -->


<!-- <app-newcomponent [name]='valueToChild' (newItemEvent)='changeValue($event)'></app-newcomponent> -->
<!-- <div app-newcomponent [nameFromParent]='valueToChild' (newItemEvent)='changeValue($event)'></div> selector ="[app-newcomponent]"
<div class="app-newcomponent" [nameFromParent]='valueToChild' (newItemEvent)='changeValue($event)'></div> selector =".app-newcomponent" -->

<!-- </div> -->


<div class="container">
  titlecase: {{title | titlecase}}
  <br />
  slice: {{title | slice:0:5}}
  <br />
  pecentage: {{numberC | percent}}
  <br />
  decimal: {{numberd | number:'3.1-2'}}
  <br />
multiple pipes {{dateC | date | lowercase}}
  <br />
  JSON pipes {{items | json }}
    <br />

    <input type ="text" [(ngModel)]= "testText"/>
<br />
<br />

  <h3>Filter according to the status using custom pipe</h3>
  <input type="text" [(ngModel)]= "filteredStatus" />
  
  <br />
  <br />
  <ul class="list-group">
    <li class="list-group-item" *ngFor = "let each of servers | sort:filteredStatus" [ngClass]="{
      'stable':each.status==='stable',
      'offline':each.status==='offline'
    }">
      <span class="badge">
        {{each.status}}
      </span>
      <strong>{{each.name}}</strong> ;
      {{each.instanceType | uppercase}} ;
      {{each.started | date}}
    </li>
  </ul>
</div>